*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 16px;
}

body {
    background-color: #a6a7eb;
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    color: #222222;
    overflow-x: hidden;
    overflow-wrap: break-word;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding: 50px;
}

.container {
    background-color: rgb(229, 227, 241);
    max-width:800px;
    height: 760px;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    border-radius: 3px;
   /*  border: solid 1px; */
}

.container h1 { /* // text login */
    margin: 0 0 40px 0;
    text-align: center;
    
}

input,
button {
    font-family: "Ubuntu", sans-serif;
    outline: none;
    font-size: 1rem;
}

.input {
   padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #bbbbbb;
    border-radius: 15px;
}

.input:hover {
    border-color: #a7a7f7;
}

.input:focus {
    border-color: #0551c4;
}

[type="submit"] {
    width: 100%;
    background: #0d6efd;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    margin-top: 10px 20px; 
    font-weight: bold;
    

}

[type="submit"]:hover {
    box-shadow: 0 0.5rem 1rem rgba(33, 33, 34, 0.15);
}

label {
    font-weight: bold;
    margin-top: 10px;
}

.link {
    width: 50%;
    /* margin-top: 20px; */
    padding:10px;
    padding-bottom: 20px;
    border-radius: 10px;
    background: #9dbef0;
   /*  background: linear-gradient( to right, #4c49f1,#636ce7); */
    text-align: center;
    font-weight: bold;
    margin:10px auto;
}
.link a {
    color: #050505;
    border-radius: 10px;
}

.success-msg,
.err-msg {
    color: #dc3545;
    border: 1px solid #dc3545;
    padding: 10px;
    border-radius: 3px;
    padding-bottom: 15px;
    margin:10px;
}

.success-msg {
    color: #ffffff;
    background-color: #20c997;
    border-color: rgba(0, 0, 0, 0.1);
}

.profile {
   /*  this place move to left of profile */
  /*   text-align: right; */
    width: 100%;
    height: 50%;
    margin:auto;
    margin-bottom: 30px;

   
}

 .profile .img {
    font-size: 200px;
    width: 50%;
    height: 50%;
    align-items: center;
    margin: 10px auto;
    display: flex;

   
} 
.profile .imag-profile{
    width: 200px;
    margin:auto;
    border-radius: 20px;
}

.profile h2 {
    /* the place of h2 (text name) */
    margin-top: 80px;
    text-transform: capitalize;
    font-size: 30px;
    left: 50%;
    margin-bottom: 25px;
 
}

.profile span {
    display: block;
    margin-top: 1px;
    color: #867e7e;
    font-size: 23px;
    margin-bottom: 10px;
}

.profile a {
    display: flex;
    padding: 10px 20px;
    text-decoration: none;
   /*  border: 1px solid #6e6b6c; */
    color: #dc3545;
    border-radius: 30px;
    margin:auto;
    align-items: center;
    justify-content: center;
}

.profile a:hover {
    border-color: rgba(0, 0, 0, 0.1);
    background-color: #dc3545;
    color: #ffffff;
}
.profile p{
    margin:auto;
    text-align: center;
    font-size: 23px;
    color: rgb(13, 102, 102);
    margin-top: 20px;
}